out/production/psd
/bin/
nohup.out
dbfile.txt
dblogfile.txt
.idea/
.classpath
.project
*.out
*.iml
*.DS_Store
*.txt
Final Version Optimized v2.0/
last_year_example/1st Phase
target/generated-sources/annotations/